.hidden {
  display: none;
}

#clock {
  display: flex;
  justify-content: center;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.6);
  font-size: 50px;
}

#greeting {
  margin-top: 40px;
  height: 35px;
  width: 390px;
  animation: typing 1.3s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#signin-form {
  margin-top: 30px;
}

#signin-form input {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  height: 50px;
  width: 300px;
  cursor: pointer;
  font-size: 20px;
}

#signin-form input:nth-child(1) {
  text-align: center;
  cursor: text;
}

#signin-form input:nth-child(1)::placeholder {
  color: white;
}

#signin-form input:nth-child(1):focus {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-bottom 0.2s ease-in-out;
}
