@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Condensed&family=Source+Sans+Pro&display=swap");
@import "reset.css";
@import "starlights.css";
@import "grid.css";
@import "greetings.css";
@import "todo.css";
@import "quotes.css";

* {
  box-sizing: border-box;
  color: white;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #19110f;
  background-image: url("../img/WallpapersOnlyMars-removebg-preview.png");
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

.folder-container {
  display: flex;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  height: 80%;
  width: 80%;
  border-radius: 30px;
}

.fav-form {
  margin-top: 50px;
  font-size: 25px;
}

.folder__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

#marstalk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#marstalk .app-icon img {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

#marstalk .app-icon img:hover {
  transform: scale(1.2);
}
