@mixin freedom() {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "folder clock todo"
    "folder signin list"
    "folder quote weather";
  & .area-folder {
    grid-area: folder;
  }

  & .area-clock {
    grid-area: clock;
  }

  & .area-todo-form {
    grid-area: todo;
  }

  & .area-signin {
    grid-area: signin;
  }

  & .area-todo-list {
    grid-area: list;
  }

  & .area-quote {
    grid-area: quote;
  }

  & .area-weather {
    grid-area: weather;
  }
}

@mixin flexCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin star() {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  animation: starlight 10s linear;
}
